In [2]:
# Program to print number of days in a given month
dict={'Jan':31,'Mar':31,'Apr':30,'May':31,'Jun':30,'Jul':31,'Aug':31,'Sep':30,'Oct':31,'Nov':30,'Dec':31}
month=input("Enter first 3 letters of month : ")
if month in dict:
    print("No of days in",month,"are",dict[month])
elif month=='Feb':
    year=int(input("Enter year : "))
    if year%4==0 and (year%100!=0 or year%400==0):
        print("No of days in Feb are 29")
    else:
        print("No of days in Feb are 28")
else:
    print("Enter correct correct")

Enter first 3 letters of month : Feb
Enter year : 2100
No of days in Feb are 28

In [3]:
# Coin change exercise program
money=int(input("Enter the amount : "))
dict={}
list=[2000,500,200,100,50,20,10,5,2,1]
for i in list:
    if money>=i:
        q=money//i
        money=money-q*i
        dict[i]=q
for key in dict:
    print("Rs.",key," : ",dict[key])

Enter the amount : 10489
Rs. 2000  :  5
Rs. 200  :  2
Rs. 50  :  1
Rs. 20  :  1
Rs. 10  :  1
Rs. 5  :  1
Rs. 2  :  2

In [4]:
# Program to display calender month for specified year
import calendar
year=int(input("Select an year between 1800 and 2099 : "))
month=int(input("Enter the month number : "))
if year in range(1800,2100) and month in range(1,13):
    print("\n",calendar.month(year,month))
else:
    print("Entered month or year is not in given range")

Select an year between 1800 and 2099 : 2021
Enter the month number : 12

    December 2021
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [5]:
# Password encryption and decryption
password=input("Password : ")
encry=""
decry=""
for ch in password:
    encry=encry+chr(ord(ch)+3)
print("Password in Encrypted form is :",encry)
for ch in encry:
    decry=decry+chr(ord(ch)-3)
print("Password in Decrypted form is :",decry)

Password : asdfghjkl
Password in Encrypted form is : dvgijkmno
Password in Decrypted form is : asdfghjkl

In [11]:
# Temperature conversion program
cel=float(input("Enter the temperature in celcius form : "))
print(cel,"C in Farenheit is",(9/5)*cel+32,"F")
print(cel,"C in Kelvin is",cel+273.15,"K")

Enter the temperature in celcius form : 37.5
37.5 C in Farenheit is 99.5 F
37.5 C in Kelvin is 310.65 K

In [14]:
# GPA calculation program
subjects=['CS   ','CO&A   ','OOP   ','FLAT   ','DBMS   ','E&HV   ']
sum=0
a=0
print("Enter marks for mentioned subjects below")
for i in subjects:
    marks=int(input(i))
    if marks in range(90,101):
        sum=sum+10
    elif marks in range(80,90):
        sum=sum+9
    elif marks in range(70,80):
        sum=sum+8
    elif marks in range(60,70):
        sum=sum+7
    elif marks in range(50,60):
        sum=sum+6
    elif marks in range(40,50):
        sum=sum+5
    elif marks in range(0,40):
        a=1
if a==1:
    print("\nFail")
else:
    print("\nGPA is",round(sum/6,2))

Enter marks for mentioned subjects below
CS   99
CO&A   99
OOP   99
FLAT   99
DBMS   99
E&HV   99

GPA is 10.0

In [15]:
# Word frequency count
sent=input("Enter any sentence : ")
word=input("Enter any word : ")
count=0
wl=len(word)
for ch in range(len(sent)-len(word)+1):
    if word==sent[ch:wl]:
        count+=1
    wl+=1
print(word,"is repeated",count,"times in the given sentence")

Enter any sentence : abdal abdal rahman
Enter any word : abdal
abdal is repeated 2 times in the given sentence

In [16]:
# Program to calculate mixed fraction for the given fraction
num=int(input("Enter the numerator : "))
den=int(input("Enter the denominator : "))
q=num//den
r=num%den
print("Mixed fraction is",q,r,"/",den)

Enter the numerator : 7
Enter the denominator : 5
Mixed fraction is 1 2 / 5

In [45]:
# Matrix manipulation program
matrix1=[]
matrix2=[]
r=[]
n=int(input("How many number of rows are there for 2 square matrix : "))
print("Input numbers in 1st matrix :")
for i in range(n):
    for j in range(n):
        r.append(int(input()))
    matrix1.append(r)
    r=[]
print("Input numbers in 2nd matrix :")
for i in range(n):
    for j in range(n):
        r.append(int(input()))
    matrix2.append(r)
    r=[]
print("Entered matrices are")
for i in range(n):
    print(matrix1[i])
print()
for i in range(n):
    print(matrix2[i])
add=[]
for i in range(n):
    for j in range(n):
        r.append(matrix1[i][j]+matrix2[i][j])
    add.append(r)
    r=[]
print("\nAddition of above two matrices is :")
for i in range(n):
    print(add[i])
sub=[]
for i in range(n):
    for j in range(n):
        r.append(matrix1[i][j]-matrix2[i][j])
    sub.append(r)
    r=[]
print("\nSubtraction of above two matrices is :")
for i in range(n):
    print(sub[i])
mul=[]
a=0
for i in range(n):
    for j in range(n):
        for k in range(n):
            a+=matrix1[i][k]*matrix2[k][j]
        r.append(a)
        a=0
    mul.append(r)
    r=[]
print("\nMultiplication of above two matrices is :")
for i in range(n):
    print(mul[i])

How many number of rows are there for 2 square matrix : 2
Input numbers in 1st matrix :
1
2
3
4
Input numbers in 2nd matrix :
5
6
7
8
Entered matrices are
[1, 2]
[3, 4]

[5, 6]
[7, 8]

Addition of above two matrices is :
[6, 8]
[10, 12]

Subtraction of above two matrices is :
[-4, -4]
[-4, -4]

Multiplication of above two matrices is :
[19, 22]
[43, 50]

In [28]:
# Data transformation operations using pandas

import pandas as pd

# Creating a Dataframe
df=pd.DataFrame({"Regdno":[1,2,3,4,5],
                 "Name":['Abdal','Nithin','Praveen','Dileep','Ram'],
                 "Sub1":[10,20,30,40,50],
                 "Sub2":[89,85,89,84,79]})
rnames=['A','B','C','D','E']
df.index=rnames
print("\nOriginal Dataframe is : \n")
print(df)

# Performing Dataframe transformation operations

# Adding a new column to Dataframe
df['Sub3']=[45,56,67,78,89]
print("\n\nDataframe after adding new column Sub3 is : \n")
print(df)

# Adding a new row to Dataframe
df.loc['F',:]=[6,'Balaji',45,56,67]
print("\n\nDataframe after adding new row F is : \n")
print(df)

# Deleting a column and a row of Dataframe
df.drop('Sub3',axis=1,inplace=True)
df.drop('C',axis=0,inplace=True)
print("\n\nDataframe after deleting Sub3 column and C row is : \n")
print(df)

# Adding a column at specific position in Dataframe
df.insert(2,'Sub0',[23,34,45,56,67])
print("\n\nDataframe after adding new column Sub0 is : \n")
print(df)

# Adding a row at specific position in Dataframe
df=df.T # Transpose of df
df.insert(2,'G',[7,'Raja',99,98,97])
df=df.T # Transpose of df
print("\n\nDataframe after adding new row G is : \n")
print(df) 

# Adding 10 to specified column
df.loc[:,'Sub2']+=10
print("\n\nDataframe after adding 10 to data of Sub2 column is : \n")
print(df)

Original Dataframe is :

   Regdno     Name  Sub1  Sub2
A       1    Abdal    10    89
B       2   Nithin    20    85
C       3  Praveen    30    89
D       4   Dileep    40    84
E       5      Ram    50    79


Dataframe after adding new column Sub3 is :

   Regdno     Name  Sub1  Sub2  Sub3
A       1    Abdal    10    89    45
B       2   Nithin    20    85    56
C       3  Praveen    30    89    67
D       4   Dileep    40    84    78
E       5      Ram    50    79    89


Dataframe after adding new row F is :

   Regdno     Name  Sub1  Sub2  Sub3
A     1.0    Abdal  10.0  89.0  45.0
B     2.0   Nithin  20.0  85.0  56.0
C     3.0  Praveen  30.0  89.0  67.0
D     4.0   Dileep  40.0  84.0  78.0
E     5.0      Ram  50.0  79.0  89.0
F     6.0   Balaji  45.0  56.0  67.0


Dataframe after deleting Sub3 column and C row is :

   Regdno    Name  Sub1  Sub2
A     1.0   Abdal  10.0  89.0
B     2.0  Nithin  20.0  85.0
D     4.0  Dileep  40.0  84.0
E     5.0     Ram  50.0  79.0
F     6.0  Balaji  45.0  56.0


Dataframe after adding new column Sub0 is :

   Regdno    Name  Sub0  Sub1  Sub2
A     1.0   Abdal    23  10.0  89.0
B     2.0  Nithin    34  20.0  85.0
D     4.0  Dileep    45  40.0  84.0
E     5.0     Ram    56  50.0  79.0
F     6.0  Balaji    67  45.0  56.0


Dataframe after adding new row G is :

  Regdno    Name Sub0 Sub1 Sub2
A      1   Abdal   23   10   89
B      2  Nithin   34   20   85
G      7    Raja   99   98   97
D      4  Dileep   45   40   84
E      5     Ram   56   50   79
F      6  Balaji   67   45   56


Dataframe after adding 10 to data of Sub2 column is :

  Regdno    Name Sub0 Sub1 Sub2
A      1   Abdal   23   10   99
B      2  Nithin   34   20   95
G      7    Raja   99   98  107
D      4  Dileep   45   40   94
E      5     Ram   56   50   89
F      6  Balaji   67   45   66

In [70]:
import pandas as pd

# Creating two Dataframe
df1 = pd.DataFrame({'Name': ['Bob','Jake','Lisa','Sue'],
                    'Dept': ['Accounting', 'Engineering', 'Engineering', 'HR']})
print("\ndf1 : \n")
print(df1)
df2 = pd.DataFrame({'Name': ['Lisa','Bob','Jake','Sue'],
                    'Hire_year': [2004, 2008, 2012, 2014]})
print("\n\ndf2 : \n")
print(df2)

print("\n-------------------------------------------------------------------------------------------------------\n")

# Concatinating df1 and df2 row wise
df3=pd.concat([df1,df2],axis=0,ignore_index=True)
df3=df3.drop_duplicates()   # Removing duplicate rows
print("df3 = Conatinated df1 and df2 row wise without any duplicate rows (index ignored) : \n")
print(df3)

# Concatinating df1 and df2 column wise
df4=pd.concat([df1,df2],axis=1,ignore_index=False)
print("\n\ndf4 = Conatinated df1 and df2 column wise without any duplicate columns (index not ignored) : \n")
df4=df4.T.drop_duplicates().T    # Removing duplicate columns
print(df4)

print("\n-------------------------------------------------------------------------------------------------------\n")

'''
# Joins using merge

# Merging df1 and df2 (one-one)
df5=pd.merge(df1, df2)
print("df5 = Merged df1 and df2 : \n")
print(df5)

# Creating new dataframe
df6=pd.DataFrame({'Dept': ['Accounting', 'Engineering', 'HR'],
                  'Supervisor': ['Carly', 'Guido', 'Steve']})
print("\n\ndf6 : \n")
print(df6)

# Merging df5 and df6 (many-one)
df7=pd.merge(df5, df6)
print("\n\ndf7 = Merged df5 and df6 : \n")
print(df7)

# Creating new dataframe
df8 = pd.DataFrame({'Dept': ['Accounting', 'Accounting',
                              'Engineering', 'Engineering', 'HR', 'HR'],
                    'Skills': ['math', 'spreadsheets', 'coding', 'linux',
                               'spreadsheets', 'organization']})
print("\n\ndf8 : \n")
print(df8)
 
# Merging df1 and df8 (many-many)
df9=pd.merge(df1, df8)
print("\n\ndf9 = Merged df1 and df8 : \n")
print(df9)

# Merging using on
df10=pd.merge(df1,df2,on='Name')
print("\n\ndf10 = Merged df1 and df2 : \n")
print(df10)

print("\n-------------------------------------------------------------------------------------------------------\n")

'''
#Creating a Dataframe
df11=pd.DataFrame({'Employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'Salary': [70000, 80000, 120000, 90000]})
print("df11: \n")
print(df11)

# Merging using left_on amd right_on
df12=pd.merge(df1, df11, left_on="Name", right_on="Employee")
print("\ndf12 = Merged df1 and df11 : \n")
print(df12)

# Removing extra useless column
df12=pd.merge(df1, df11, left_on="Name", right_on="Employee").drop('Employee', axis=1)
print("\ndf12 = Merged df1 and df11 after removing extra useless column : \n")
print(df12)

df1 :

   Name         Dept
0   Bob   Accounting
1  Jake  Engineering
2  Lisa  Engineering
3   Sue           HR


df2 :

   Name  Hire_year
0  Lisa       2004
1   Bob       2008
2  Jake       2012
3   Sue       2014

-------------------------------------------------------------------------------------------------------

df3 = Conatinated df1 and df2 row wise without any duplicate rows (index ignored) :

   Name         Dept  Hire_year
0   Bob   Accounting        NaN
1  Jake  Engineering        NaN
2  Lisa  Engineering        NaN
3   Sue           HR        NaN
4  Lisa          NaN     2004.0
5   Bob          NaN     2008.0
6  Jake          NaN     2012.0
7   Sue          NaN     2014.0


df4 = Conatinated df1 and df2 column wise without any duplicate columns (index not ignored) :

   Name         Dept  Name Hire_year
0   Bob   Accounting  Lisa      2004
1  Jake  Engineering   Bob      2008
2  Lisa  Engineering  Jake      2012
3   Sue           HR   Sue      2014

-------------------------------------------------------------------------------------------------------

df11:

  Employee  Salary
0      Bob   70000
1     Jake   80000
2     Lisa  120000
3      Sue   90000

df12 = Merged df1 and df11 :

   Name         Dept Employee  Salary
0   Bob   Accounting      Bob   70000
1  Jake  Engineering     Jake   80000
2  Lisa  Engineering     Lisa  120000
3   Sue           HR      Sue   90000

df12 = Merged df1 and df11 after removing extra useless column :

   Name         Dept  Salary
0   Bob   Accounting   70000
1  Jake  Engineering   80000
2  Lisa  Engineering  120000
3   Sue           HR   90000

**While performing concatination of two tables row wise:**
    
    If index is ignored, every row will be given different index names in output.
    
    If index is not ignored, every row will be given the same index names in output as given while creating tables. 

**While performing concatination of two tables column wise:**
    
    If index is ignored, every column will be given different names but row indexes names will not be ignored. The output will be corresponding to their row indexes names.
    
    If index is not ignored, every column will be given same index names as given while creating tables but row indexes names will not be ignored. The output will be corresponding to their row indexes names.